<form action="/polls" method="post" class="pure-form pure-form-stacked">
    <legend>Create a new poll</legend>

    <label for="title">Title</label>
    <input id="title" name="title" type="text" placeholder="Which tea should we buy?">

    <label for="options">Options</label>
    <input id="options" name="options" type="text" placeholder="Earl Grey, Jasmine, Darjeeling, ...">

    <input type="submit" class="pure-button pure-button-primary"/>
</form>
